body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    display: flex;
    background-color: #fcfcfc;
}

.image-container {
    background-image: url(images/background.jpg);
    width: 40%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: 400px;
}

.logo-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    top: 30%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-width: fit-content;
    
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-text {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    color: white;
}

.photo-cred {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 6px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.photo-cred,
.photo-cred a:link,
.photo-cred a:visited {
    color: white;
    font-size: 15px;
}

.content-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-above {
    padding: 0 50px 20px;
}

.text-above p {
    font-weight: bold;
    padding-right: 50px;
    font-size: 20px;
    padding-top: 10px;
}

.form-box {
    background-color: #ffffff;
    border: .5px solid #f1f1f1;
    box-shadow: 0 5px 10px #f1f1f1;
    padding: 50px 50px 60px;
}

.form-header {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #ad6e8f;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
    width: min(100%, 800px);
}

.form-div {
    display: flex;
    flex-direction: column;
    width: max(300px, 40%);
}

.form-div label {
    font-size: 14px;
    color:#383838;
}

.form-div input {
    font-family: inherit;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
}

.text-present.input:invalid,
.no-match.text-present.pwd-conf,
.submitted.input:invalid {
    border: 1px solid red;
}

.text-present.input:invalid + span::after,
.no-match.text-present.pwd-conf + span::after,
.submitted.input:invalid + span::after {
    color: red;
    position: absolute;
    font-size: 13px;
    padding-top: 2px;
    display: block;
    max-width: 300px;
}

.text-present.first:invalid + span::after,
.submitted.first:invalid + span::after {
    content: "PLEASE ENTER YOUR FIRST NAME";
}

.text-present.last:invalid + span::after,
.submitted.last:invalid + span::after {
    content: "PLEASE ENTER YOUR LAST NAME";
}

.text-present.input[type="email"]:invalid + span::after,
.submitted.input[type="email"]:invalid + span::after {
    content: "PLEASE ENTER A VALID EMAIL ADDRESS";
}

.text-present.input[type="tel"]:invalid + span::after,
.submitted.input[type="tel"]:invalid + span::after {
    content: "PLEASE ENTER A 10 DIGIT PHONE NUMBER";
}

.text-present.pwd:invalid + span::after,
.submitted.pwd:invalid + span::after {
    content: "MUST CONTAIN AT LEAST ONE NUMBER, ONE UPPERCASE LETTER, ONE LOWERCASE LETTER, AND AT LEAST 8 CHARACTERS"
}

.no-match.text-present.pwd-conf + span::after,
.no-match.submitted.pwd-conf + span::after {
    content: "PASSWORDS DO NOT MATCH";
}

.form-div input:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}

.button-container {
    padding: 40px 50px 0;
}

.button-container button {
    font-family: inherit;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #d98db4;
    color: white;
    font-weight: bold;
}

.button-container button:hover {
    cursor: pointer;
    background-color: #ad6e8f;
}

.button-container button:active {
    background-color: #d98db4;
}

.text-below {
    padding: 10px 50px 0;
}

.text-below a:link,
.text-below a:visited {
    color: #b9628f;
    text-decoration: none;
}

@media screen and (max-width: 1253px) {
    .text-present.pwd:invalid + span::after,
    .submitted.pwd:invalid + span::after {
        position: static;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .image-container {
        width: 100%;
        height: 15rem;
    }

    .logo-container {
        top: 50%;
        transform: translateY(-50%);
        height: 30%;
    }

    .content-container {
        width: 100%;
    }

    .text-above {
        padding: 0 11% 0;
        text-align: center;
    }

    .text-above p {
        padding: 0;
    }

    .form-box {
        padding: 40px 11% 50px;
    }

    .form-header {
        text-align: center;
    }

    .form-inputs {
        justify-content: center;
    }

    .button-container {
        text-align: center;
        padding-top: 35px;
    }

    .text-below {
        text-align: center;
        padding-top: 5px;
        margin-bottom: 50px;
    }
}